/* highlight col-* */
.row [class*='col-'] {

 background-clip: content-box;
 min-height: 120px;
 margin-bottom: 30px;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.map_dec {
    height: 20px;
}

.timeline {
    height: 17px;
}

#main_img {
    height:100%;
    width:100%
}

#nb_colonies {
  height:20vh;
}

#post_empire_map_div {
    height: 20vh;
    width: 80vh ;
}

#nb_colonizers {
  height:20vh !important;
}


#colonies_map_div {
  width: 100%;
  height: 100%;
}

#decolonies_map_div {
  width: 100%;
  height: 80vh;
}


html, body{height:100vh;}
#outer{
min-height:100%;
}

.amcharts-chart-div {
    height: 70vh !important;
}



#decolonisation_per_year {
  position: relative;
  height:25vh;
}

#conflicts_intensity {
    height: 200px !important;
    width: 660px;
}

#conflicts_region_ {
    position: relative;
    height:40vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 0%;
  border: 0px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 20px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 20px;
  color: grey;
}

.chart {
    display: block!important;
}
