#container {
  position: relative;
  width: 100%;
}

#navbar{
  list-style-type: none;
  z-index: 100;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#navbarUL{
    display: inline-block;
}

li {float: left;
  display: inline-block;
  list-style-type:none;
  margin: 0 4px;
  padding: 0;
  justify-content: space-around;
  cursor: pointer;
  }

#map_div {
  position: relative;
  width: 100%;
  height: 80vh;
}

#colonies_map_div {
  width: 100%;
  height: 500px;
}

#decolonies_map_div {
  width: 100%;
  height: 500px;
}

#post_empire_map_div {
  width: 100%;
  height: 500px;
}

#timeline_row {
  position: relative;
  height:35vh;
}

#nb_colonies {
  position: relative;
  height:35vh;
}

#decolonisation_per_year {
  position: relative;
  height:35vh;
}

#conflicts_eur {
  position: relative;
  height:35vh;
}

#conflicts_am {
  position: relative;
  height:35vh;
}

#conflicts_asia {
  position: relative;
  height:35vh;
}

#conflicts_afr {
  position: relative;
  height:35vh;
}

#conflicts_midle {
  position: relative;
  height:35vh;
}

#conflicts_region {
  position: relative;
  height:55vh;
}

#conflicts_intensity {
    height: 169px;
    width: 660px;
}
.col-lg-4 {
    max-width: 10vh;
    max-height: 10vh;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px;
}


footer.main-footer {
  position: absolute !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1rem !important;
  max-width: 100vh !important;
  font-weight: normal !important;
  line-height: 1.5 !important;
}

#myModal{
    opacity: 0.8
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px soft rgba(255, 206, 86, 1);
    color: rgba(255, 206, 86, 1);
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: rgba(255, 206, 86, 1);
    border-color: rgba(255, 206, 86, 1);
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
